.post-container {
    width: 800px;
    text-align: left;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 5em;
    position: absolute;
    top: 3em;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}

.post-container .post-image {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.comment-container {
    width: 100%;
    margin-top: 3em;
}

.comment-textarea textarea {   
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 3px #EEEEEE inset;
    height: 8em;
    padding: 20px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

.comment-textarea textarea,
textarea::-webkit-input-placeholder {
    font-size: 18px;
}

.comment-textarea input {
    position: absolute;
    display: block;    
    width: 150px;
    right: 0;
    height: 45px;
    background: #005e94;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #0075b9;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    margin-top: 1em;
}

.comment-list {
    margin-top: 10px;
    width: 100%;
}


.comment-list .list-item {
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    height: 100%;
    padding: 20px;
    margin-bottom: 30px;
}

.comment-header {
    display: block;
    margin-top: 4em;
    margin-bottom: 1em;
}

.text-list {
    padding-bottom: 0px;
}

.text-list .like{
    position: relative;
    background: #005e94;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #0075b9;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    margin-top: 15px;
    padding: 5px 10px 5px 10px;
    
}

.text-list .like:hover{
    background: #0075b9;
}

.text-list .post-by {
    font-weight: 300;
    opacity: 0.5;
    font-size: 16px;
    padding: 0px 0px 10px 0px
}

.text-list .title {
    font-weight: 300;
    opacity: 0.5;
    font-size: 16px;
    padding: 0;
} 

.footer h1 {
    text-align: center;
}

.post-container h1 {
    text-align: center;
}

.socialnetwork-link {
    position: absolute;
    right: 0;
}

.socialnetwork-link .facebook-link {
    text-decoration: none;
    color: white;
    background: #4267b2;
    margin: 0.5em 1em 0.5em 1em;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 2px;
    font-size: 16px;  
    font-weight: 400;
}

.socialnetwork-link .twitter-link {
    text-decoration: none;
    color: white;
    background: #57a7e6;
    margin: 0.5em 0em 0.5em 0em;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 400;
}

.create-by {
    margin-bottom: 0.5em;
    opacity: 0.5;
    font-size: 18px;
    position: relative;
}

.create-by a {
    text-decoration: none;
    color: #005e94;
}

.entry-act {
    position: relative;
    width: 500px;
    margin-bottom: 1.5em;
    left: 50%;
    transform: translate(-50%);
    text-align: center;

}

.entry-act h3 {
    font-weight: 300;
}

.entry-act input {
    position: static;
    width: 60%;
    height: 45px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 1em;
    font-size: 15px;
    padding: 0 15px 0 15px;
    outline: none;
}

.entry-act .to-poll {
    width: 60%;
    height: 45px;
    background: transparent;
    box-sizing: border-box;
    border-radius: 0px;
    border: 0;
    border-bottom: 0px solid black;
    color: black;
    font-weight: bold;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    margin-bottom: 1em;
    font-weight: 300;
    font-family: 'Kanit', sans-serif;
    -webkit-transition-duration: 0.9s;
}

.entry-act .to-poll:hover {
    color: #fff;
    background: #005e94;
    border-radius: 5px;
    border: 0 solid black;

}

.entry-act button:not(.to-poll) {
    width: 60%;
    height: 45px;
    background: #005e94;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #0075b9;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    font-weight: 300;
    outline: none;
    cursor: pointer;
    font-family: 'Kanit', sans-serif;
}

.entry-act button:not(.to-poll):hover {
    background: #0075b9;

}