.profile-container {
    position: absolute;
    display: block;
    width: 1000px;
    padding: 0;
    margin: 0;
    top: 5em;
    left: 50%;
    transform: translateX(-50%);
}

.profile-container img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin: 1em;
    position: absolute;
}

.profile-container .info-details {
    position: absolute;
    left: 38%;
}

.profile-container .info-details .real-name {
    font-size: 3em;
    font-weight: 300;
}

.profile-container .info-details .address {
    font-size: 1.5em;
    font-weight: 300;
    opacity: 0.6;
}

.profile-container .others-details {
    margin-top: 1.5em;
    font-weight: 300;
    border-top: 1px solid rgb(189, 189, 189);
}

.profile-container .others-details ul {
    list-style-type: none;
    padding: 0;
    font-size: 1.2em;
}

.profile-container .others-details li span {
    opacity: 0.5;
}

.profile-container .others-details li:not(span) {
    text-align: right;
}

.profile-container button {
    width: 30%;
    height: 45px;
    background: #005e94;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #0075b9;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
}

.profile-container button:hover {
    background: #0075b9;
}